body, h1, h2, h3, ul, li, table, th, td {
    margin: 0;
    padding: 0;
  }
  
  /* Apply styles to the body */
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  .header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Name styles */
  .Name {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Contact information styles */
  .mobile {
    text-align: center;
    margin-top: 20px;
  }
  
  .mobile ul {
    list-style-type: none;
  }
  
  .mobile li {
    margin: 10px 0;
  }
  
  /* Objective styles */
  .Objectives {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Paragraph styles */
  .Para {
    margin-top: 20px;
    padding: 10px;
  }
  
  /* Experience styles */
  .experience {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Duties & Responsibilities styles */
  .Duties-Responsibilities {
    margin-top: 20px;
    padding: 10px;
  }
  
  /* Designer styles */
  .Designer {
    margin-top: 20px;
    padding: 10px;
  }
  
  /* Table styles */
  .table {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  /* Computer Knowledge styles */
  .Computer {
    margin-top: 20px;
    padding: 10px;
  }
  
  /* Skills styles */
  Skills {
    margin-top: 20px;
    padding: 10px;
  }
  
  /* Personal Information styles */
  .Personal {
    margin-top: 20px;
    padding: 10px;
  }