    h1,h2 
    {
        color:black;
        font-size:30px;
        background-color:rgb(62, 248, 62);width: 25%;
    }
    body
    {
        background-color: rgb(233, 230, 227);
        
       }   
    .image-left 
    {
        float: right;
        margin-right: 10px; /* Optional: Add some margin to create space between the image and text */
    }
    
 